<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
</head>


<body>
    
    <h1 style="font-weight:bold;text-align:center;color:brown;padding-top:10px;font-family:'Times New Roman', Times, serif">To Do List</h1>
    
    <div class="container pt-3" style="max-width: 500px;">
        <form method="get" action="@Url.Action("ShowSearchResults", "TaskItems")" class="d-flex justify-content-end">
            <input type="text" name="SearchPhrase" placeholder="Search tasks" class="form-control form-control-sm me-2" />
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
